<article class="PollCreator">
  <header>
    <hgroup>
      <h2>📝 Create a poll</h2>
      <h3>Complete the below fields to create your poll.</h3>
    </hgroup>
  </header>
  <form>
    <label for="poll-title">
      Title
      <input id="poll-title" type="text" placeholder="Type your question here">
    </label>
    <div>
      <label for="poll-first-option">Answer Options</label>
      <input id="poll-first-option" type="text" placeholder="Option 1">
      <input type="text" placeholder="Option 2">
      <button type="button" class="secondary">
        Add more options
      </button>
    </div>
  </form>
  <footer>
    <button type="submit">Create a poll</button>
  </footer>
</article>
